<div class="card" *ngIf="notification.name">
  <div class="img">
    <img class="icon" src="assets/images/reducere.jpg" />
  </div>
  <div class="textBox">
    <div class="textContent">
      <div class="h1">{{notification.name}}<div *ngIf="notification.increased"
                                         style="color: green ; margin: 0 10px 0 10px; float: right;">▲</div>
        <div *ngIf="!notification.increased" style="color: red ; margin: 0 10px 0 10px; float: right;">▼</div>
      </div>
      <span class="span">now</span>
    </div>
    <div class="detail">Parfumul este la reducere {{notification.price}} lei
      <div>
      </div>
    </div>
  </div>
</div>
