.cart-container {
  background-color: #fce5ea;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.cart-item {
  flex-basis: calc(33.33% - 20px);
}
.cart-title {
  font-size: 20px;
  font-weight: bold;
  color: #ec336d;
}

.item-image {
  margin-right: 20px;
}

.item-image img {
  display: block;
  border-radius: 5px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.item-brand {
  margin: 5px 0;
}

.item-quantity {
  margin: 5px 0;
}

.add-order-button {
  background-color: #ec336d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 16px;
}

.add-order-button:hover {
  background-color: #d2053e;
}
.order-placed-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
}



