<div class="container">
  <h1>Admin Panel</h1>
  <hr>
  <div class="button-box">
    <button class="button" (click)="getAllUsers()">Get All Users</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="getAllPerfumes()">Get All Perfumes</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="isAddPerfume = true">Add Perfume</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="getAllOrders()">Get All Orders</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="getAllLoggedUser()">Get All Logged Users</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="createAdminFlag = true">Create New Admin</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="flag = true; setTransportFree()">Transport Gratuit</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="flag = false; setTransportFree()">Transport Negratuit</button>
  </div>
  <div class="button-box">
    <button class="button" (click)="exportPerfumesToXML()">Export perfumes to XML</button>
  </div>
  <div *ngIf="seeAllLoggedUsers">
    <h2>All logged in users</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>IsAdmin</th>
        <th>Login Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersLogged">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isAdmin }}</td>
        <td>{{ user.loginDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <h2>Users-Admin</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>IsAdmin</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isAdmin }}</td>
        <td><button (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngFor="let perfume of perfumes" class="perfume-card">
    <div class="perfume-square">
      <div class="perfume-info">
        <h3 style="font-size: 25px; font-style: italic;">{{perfume.title}}</h3>
        <p>Gender: {{perfume.gender}}</p>
        <p>Brand: {{perfume.brand}}</p>
        <p>Top notes: {{perfume.fragrance_top_notes}}</p>
        <p>Middle notes: {{perfume.fragrance_middle_notes}}</p>
        <p>Base notes: {{perfume.fragrance_base_notes}}</p>
        <p>Description: {{perfume.description}}</p>
        <p>Price: {{perfume.price}}</p>
        <p>Volume: {{perfume.volume}}</p>
        <p>Stock: {{perfume.stock}}</p>
        <button (click)="deletePerfume(perfume.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="openUpdateModal(perfume)">Update</button>
        <button (click)="getReviewsByPerfumeId(perfume.id)">Reviews</button>
        <input [(ngModel)]="saleDiscount" type="number" placeholder="New price" style="width: 90px;">
        <button (click)="updateSaleDiscount(perfume.id,saleDiscount)">Apply sale</button>
      </div>
      <div class="perfume-image">
        <img src="assets/images/{{perfume.image}}" alt="Perfume Image" width="270" height="270">
      </div>
    </div>
  </div>




  <!-- Update modal -->
    <div *ngIf="showUpdateModal">
      <h2>Update perfume</h2>
      <form (submit)="updatePerfume()">
        <label>
          Title:
          <input [(ngModel)]="selectedPerfume.title" name="title" required>
        </label>
        <label>
          Gender:
          <input [(ngModel)]="selectedPerfume.gender" name="gender" required>
        </label>
        <label>
          Brand:
          <input [(ngModel)]="selectedPerfume.brand" name="brand" required>
        </label>
        <label>
          Top notes:
          <input [(ngModel)]="selectedPerfume.fragrance_top_notes" name="fragrance_top_notes" required>
        </label>
        <label>
          Middle notes:
          <input [(ngModel)]="selectedPerfume.fragrance_middle_notes" name="fragrance_middle_notes" required>
        </label>
        <label>
          Base notes:
          <input [(ngModel)]="selectedPerfume.fragrance_base_notes" name="fragrance_base_notes" required>
        </label>
        <label>
          Description:
          <textarea [(ngModel)]="selectedPerfume.description" name="description" required></textarea>
        </label>
        <label>
          Price:
          <input [(ngModel)]="selectedPerfume.price" name="price" required>
        </label>
        <label>
          Volume:
          <input [(ngModel)]="selectedPerfume.volume" name="volume" required>
        </label>
        <label>
          Stock:
          <input [(ngModel)]="selectedPerfume.stock" name="stock" required>
        </label>
        <label>
          Image:
          <input [(ngModel)]="selectedPerfume.image" name="image" required>
        </label>
        <button type="submit">Update</button>
      </form>
    </div>

  <div *ngIf="createAdminFlag">
    <h2>Create new admin account</h2>
    <form (submit)="createAdmin()">
      <label>
        Name:
        <input [(ngModel)]="newUser.name" name="name" required #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert">
          <div *ngIf="name.errors?.['required']" class="error-text">
            *Name is required!
          </div>
        </div>
      </label>
      <label>
        Username:
        <input [(ngModel)]="newUser.username" name="username" required #username="ngModel">
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
             class="alert">
          <div *ngIf="username.errors?.['required']" class="error-text">
            *Username is required!
          </div>
        </div>
      </label>
      <label>
        Email:
        <input [(ngModel)]="newUser.email" name="email" required #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert">
          <div *ngIf="email.errors?.['required']" class="error-text">
            *Email is required!
          </div>
        </div>

      </label>
      <label>
        Password:
        <input [(ngModel)]="newUser.password" name="password" required #password="ngModel">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert">
          <div *ngIf="password.errors?.['required']" class="error-text">
            *Password is required!
          </div>
        </div>
      </label>
      <button type="submit">Create account</button>
    </form>
    <div *ngIf="createMessage !== ''">{{ createMessage }}</div>
  </div>


  <div *ngIf="isAddPerfume">
    <h2>Add Perfume</h2>
    <form (submit)="addPerfume()">
      <label>
        Title:
        <input [(ngModel)]="perfume.title" name="title" type="text" required #title="ngModel">
        <div *ngIf="title.invalid && (title.dirty || title.touched)"
             class="alert">
          <div *ngIf="title.errors?.['required']" class="error-text">
            *Title is required!
          </div>
        </div>
      </label>
      <label>
        Description:
        <textarea [(ngModel)]="perfume.description" name="description" required #description="ngModel"></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
             class="alert">
          <div *ngIf="description.errors?.['required']" class="error-text">
            *Description is required!
          </div>
        </div>
      </label>
      <label>
        Price:
        <input [(ngModel)]="perfume.price" name="price" type="number" required min="0" #price="ngModel">
        <div *ngIf="price.invalid && (price.dirty || price.touched)"
             class="alert">
          <div *ngIf="price.errors?.['required']" class="error-text">
            *Price is required and must be a positive number!
          </div>
          <div *ngIf="price.errors?.['min']" class="error-text">
            *Price must be a positive number!
          </div>
        </div>
      </label>
      <label>
        Gender:
        <input [(ngModel)]="perfume.gender" name="gender" type="text" required #gender="ngModel">
        <div *ngIf="gender.invalid && (gender.dirty || gender.touched)"
             class="alert">
          <div *ngIf="gender.errors?.['required']" class="error-text">
            *Gender is required!
          </div>
        </div>
      </label>
      <label>
        Brand:
        <input [(ngModel)]="perfume.brand" name="brand" type="text" required #brand="ngModel">
        <div *ngIf="brand.invalid && (brand.dirty || brand.touched)"
             class="alert">
          <div *ngIf="brand.errors?.['required']" class="error-text">
            *Brand is required!
          </div>
        </div>
      </label>
      <label>
        Stock:
        <input [(ngModel)]="perfume.stock" name="stock" type="number" required min="0" #stock="ngModel">
        <div *ngIf="stock.invalid && (stock.dirty || stock.touched)"
             class="alert">
          <div *ngIf="stock.errors?.['required']" class="error-text">
            *Stock is required and must be a positive number!
          </div>
          <div *ngIf="stock.errors?.['min']" class="error-text">
            *Stock must be a positive number!
          </div>
        </div>
      </label>
      <label>
      Volume:
      <input [(ngModel)]="perfume.volume" name="volume" type="number" required min="0" #volume="ngModel">
        <div *ngIf="volume.invalid && (volume.dirty || volume.touched)"
             class="alert">
          <div *ngIf="volume.errors?.['required']" class="error-text">
            *Volume is required and must be a positive number!
          </div>
          <div *ngIf="volume.errors?.['min']" class="error-text">
            *Volume must be a positive number!
          </div>
        </div>
    </label>
      <label>
      Base Notes:
      <input [(ngModel)]="perfume.fragrance_base_notes" name="fragrance_base_notes" type="text" required #fgb="ngModel">
        <div *ngIf="fgb.invalid && (fgb.dirty || fgb.touched)"
             class="alert">
          <div *ngIf="fgb.errors?.['required']" class="error-text">
            *Base notes is required!
          </div>
        </div>
    </label>
      <label>
      Top Notes:
      <input [(ngModel)]="perfume.fragrance_top_notes" name="fragrance_top_notes" type="text" required #ftn="ngModel">
        <div *ngIf="ftn.invalid && (ftn.dirty || ftn.touched)"
             class="alert">
          <div *ngIf="ftn.errors?.['required']" class="error-text">
            *Top notes is required!
          </div>
        </div>
    </label>
      <label>
        Middle Notes:
        <input [(ngModel)]="perfume.fragrance_middle_notes" name="fragrance_middle_notes" type="text" required #fmn="ngModel">
        <div *ngIf="fmn.invalid && (fmn.dirty || fmn.touched)"
             class="alert">
          <div *ngIf="fmn.errors?.['required']" class="error-text">
            *Middle notes is required!
          </div>
        </div>
      </label>
      <label>
        Image:
        <input [(ngModel)]="perfume.image" name="image" type="text" required #image="ngModel">
        <div *ngIf="image.invalid && (image.dirty || image.touched)"
             class="alert">
          <div *ngIf="image.errors?.['required']" class="error-text">
            *Image is required!
          </div>
        </div>
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

